@charset "shift_jis";

input.ng-invalid{
	background-color:#ffeeee;
}

select.ng-invalid{
	background-color:#ffeeee;
}

.currency {
    text-align: right;
    width: 50px;
}

.dvd-keyVisual{
    padding-top: 40px;
    height: 150px;
    background: url('../img/title.jpg') center 0 no-repeat;
    background-size: cover;
}
.dvd-keyVisual .btn-group {
    margin-top: 30px;
}
.dvd-keyVisual .btn-group .btn{
    margin-left: 1px;
}
.dvd-keyVisual .user-name {
    margin-top: 0px;
    margin-bottom: 5px;
}
@media(min-width:768px) {
    .dvd-keyVisual {
        padding-top: 170px;
        height: 300px;
    }
    .dvd-keyVisual .btn-group{
        margin-top: 40px;
    }
}
.dvd-footer {
    background-color: #2a90e1;"
}
.mb10{
    margin-bottom: 10px;
}
.hide{
    display: none;
}